.root__layout {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bgmode__wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.root__layout__header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 4rem;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.navigation__wrapper {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.root__layout__body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.root__layout__footer {
  display: flex;
  justify-content: center;
}
