.study__navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 599px) {
  .study__navigation {
    display: block;
  }
}

@media (min-width: 600px) and (max-width: 999px) {
  .study__navigation {
    display: grid;
  }
}

@media (min-width: 1000px) {
  .study__navigation {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
  }
}
