.card__link {
  border-radius: 1rem;
  border: 1px solid #ccc;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  transition: border var(--transition-duration-normal) ease-in-out;
}

.card__link:hover {
  border: 1px solid var(--color-blue);
}

.card__link:hover .thumbnail {
  transform: scale(1.5);
}

.card__link:focus-visible {
  border: 1px solid var(--color-blue);
  outline: 2px solid var(--color-blue);
  outline-offset: 0px;
}

.card__link:focus-visible .thumbnail {
  transform: scale(1.5);
}

.thumbnail__wrapper {
  width: 100%;
  aspect-ratio: 2/1;
  overflow: hidden;
}

.thumbnail__wrapper--empty {
  background-color: #000;
}

.thumbnail {
  transition: transform var(--transition-duration-normal) ease-in-out;
}

.text__wrapper {
  flex: 1;
  padding: 1rem 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.date {
  font-size: 0.9em;
  color: #999;
}

@media screen and (max-width: 600px) {
  .card__link {
    margin-top: 1rem;
  }
}
