.black {
  color: var(--text-color);
  background-color: transparent;
  border: 1px solid var(--text-color);
}

.black:not(span):hover {
  background: var(--hover-bg-black);
}

.black:not(span):focus-visible {
  background: var(--hover-bg-black);
}

.blue {
  color: var(--color-blue);
  background-color: transparent;
  border: 1px solid var(--color-blue);
}

.blue:not(span):hover {
  background-color: var(--hover-bg-blue);
}

.blue:not(span):focus-visible {
  background-color: var(--hover-bg-blue);
}

.red {
  color: var(--color-red);
  background-color: transparent;
  border: 1px solid var(--color-red);
}

.red:not(span):hover {
  background-color: var(--hover-bg-red);
}

.red:not(span):focus-visible {
  background-color: var(--hover-bg-red);
}

.green {
  color: var(--color-green);
  background-color: transparent;
  border: 1px solid var(--color-green);
}

.green:hover {
  background-color: var(--hover-bg-green);
}

.green:not(span):hover {
  background-color: var(--hover-bg-green);
}

.green:not(span):focus-visible {
  background-color: var(--hover-bg-green);
}

.purple {
  color: var(--color-purple);
  background-color: transparent;
  border: 1px solid var(--color-purple);
}

.purple:not(span):hover {
  background-color: var(--hover-bg-purple);
}

.purple:not(span):focus-visible {
  background-color: var(--hover-bg-purple);
}
